:root {
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

@media only screen and (max-width: 1357px) {
  .heading h3{
    font-size: 1rem;
  }
  .sub-heading h1{
    font-size: 1.5rem;
  }
}

.link {
  text-decoration: none;
}

.link:visited {
  color: white;
}

.link:hover {
  color: #8ab4f8;
  text-decoration: underline;
}

.App {
  display: flex;
  flex-direction: column;
  
}

.app-container {
  display: flex;
  flex-direction: column;
  margin: 0vh 10.5vw 0vh 10.5vw;
}

.heading {
  display: flex;
  flex-direction: row;
  flex-basis: 2rem;
  justify-content: space-between;
}

.sub-heading {
  display: flex;
  flex-direction: column;
}

.sub-heading  h1,
.heading h3 {
  font-weight: 600;
  margin: 0;
}

.heading  h3,
.gh-logo,
.dark-gh-logo {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.heading h3 {
  margin-top: 1.2rem;
}

.gh-logo,
.dark-gh-logo {
  height: 0;
  min-height: 60%;
  margin-top: 0.5rem;
}

.dark-gh-logo {
  filter: invert(100%) !important;
}

.dark-mode {
  background-color: #0d1117;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

.footer{
  display: flex;
  justify-content: space-between;
  padding: 0 10.5% 0 10.5%;
  margin-bottom: 0;
  max-height: 0;
}