.menu_options {
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.menu_options > div {
    padding: 15px;
}

.grid-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    user-select: none;
  }

  .grid {
    display: grid;
    border: 1px solid black; 
    grid-auto-rows: 80px;
    justify-content: center;
    width: 75vw;
    height: 75vh;
    box-sizing: border-box;
  }

  .node {
    background-color: white; 
    box-sizing: border-box;
    border: 1px solid black; 
  }

  .wall {
    background-color: rgb(10, 53, 84)
  }

  .start {
    background-color: green;
  }

  .end {
    background-color: red;
  }

  .visited {
    background-color: yellow;
  }

  .shortest {
    background-color: blue;
  }