.parent-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  gap: 3rem;
  margin-top: 2rem;
}

@media only screen and (max-width: 1300px) {
  .parent-container {
    flex-direction: column;
  }
  .menu {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1432px) {
  .caption-text {
    width: 80%;
  }
  .grid-caption {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1220px) {
  .caption-text {
    width: 100%;
  }
}

@media only screen and (max-width: 738px) {
  .caption-text {
    width: 80%;
  }
}

@media only screen and (max-width: 473px) {
  .caption-text {
    width: 100%;
  }
}
@media only screen and (max-width: 378px) {
  .caption-text {
    width: 80%;
  }
}

.grid-container button,
.grid-container select,
.menu button,
.menu select {
  font-family: "inter";
  background-color: #0d1117;
  border-color: grey;
  padding: 8px;
  cursor: pointer;
}

.grid-container button {
  border-radius: 10%;
}

.menu select {
  border: 2px outset grey;
  border-radius: 5%;
}

.algo-menu > select,
.animation-menu > select {
  width: 100%;
}

.info-icon {
  padding-left: 10px;
  background-color: inherit;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu label {
  font-weight: 600;
}

.menu > h3 {
  font-size: x-large;
  font-weight: 600;
}

@media only screen and (max-width: 1300px) {
  .menu {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.size-slider,
.duration-slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* #size_slider,
#animation_time_slider {

} */

.size-slider > label,
.duration-slider > label {
  font-weight: 400;
}

.size-slider > input,
.duration-slider > input {
  width: 75%;
  color: black;
}

.size-slider > label {
  margin-left: 1rem;
}

.duration-slider > label {
  margin-left: 1rem;
}

.grid-caption {
  display: flex;
  font-weight: 600;
  overflow: hidden;
  max-width: 100%;
  justify-content: space-between;
}

.info-icon {
  position: relative;
  display: inline-block;
}

.info-icon .tooltip-text-right {
  visibility: hidden;
  width: 300px;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 130%;
  font-size: small;
  font-weight: 400;
  background-color: white;
  color: black;
}

.info-icon .tooltip-text-right-animation {
  visibility: hidden;
  width: 155px;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: -30px;
  left: 135%;
  font-size: small;
  font-weight: 400;
  background-color: white;
  color: black;
}

.info-icon .tooltip-text-down {
  visibility: hidden;
  width: 300px;
  border-radius: 6px;
  padding: 5px 0px 5px 25px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -90px;
  font-size: small;
  font-weight: 400;
  text-align: left;
  background-color: white;
  color: black;
}

.info-icon .tooltip-text-down::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 33%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.info-icon .tooltip-text-right-animation::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

.info-icon .tooltip-text-right::after {
  content: "";
  position: absolute;
  top: 39%;
  right: 100%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

.info-icon:hover .tooltip-text-right,
.info-icon:hover .tooltip-text-right-animation,
.info-icon:hover .tooltip-text-down {
  visibility: visible;
}

ol {
  padding-left: 0;
}

.grid-size-menu,
.algo-menu,
.animation-menu,
.duration-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid-caption-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.random-button,
.reset-button {
  font-weight: 600;
}

.visualize-button {
  background-color: #6966ff !important;
  width: 285px;
  font-weight: 600;
  border-radius: 5%;
}

.visualize-button:disabled {
  color: #9ba6b6 !important;
}

.legend {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: 0.5rem;
  flex-wrap: wrap;
}

.legend-label {
  margin-left: 18px;
  align-items: center;
}

.legend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.legend-node {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.legend-item > .green {
  background-color: #5ef19b;
}
.legend-item > .red {
  background-color: #fd686f;
}
.legend-item > .blue {
  background-color: #87a9fc;
}
.legend-item > .grey {
  background-color: #73757a;
}

.grid-container {
  display: flex;
  flex-direction: column;
  user-select: none;
  gap: 10px;
  width: 78%;
  min-height: 100%;
}

.grid {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-sizing: border-box;
  /* justify-content: center; */
  flex-basis: 580px;
  width: 100%;
  position: relative;
}

.weight-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}

.dark-mode-node {
  border: 1px solid teal !important;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.loading-overlay img {
  width: 100%;
  height: 101%;
  opacity: 0.9;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.node {
  width: 100%;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  border: 1px solid #0d1117;
}

#animationType:disabled{
  color: grey !important;
}

@keyframes wall-animation {
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.wall {
  background-size: cover;
  animation-name: wall-animation;
  animation-duration: 0.5s;
}

.start {
  background-color: #5ef19b; /* use css custom properties in the future to allow user to select colour*/
  animation-name: wall-animation;
  animation-duration: 0.5s;
}

.end {
  background-color: #fd686f; /* use css custom properties in the future to allow user to select colour*/
  animation-name: wall-animation;
  animation-duration: 0.5s;
}

@keyframes visited-color-animation-fade {
  0% {
    background-color: #fd686f;
  }
  25% {
    background-color: orange;
  }
  50% {
    background-color: yellow;
  }
  75% {
    background-color: #5ef19b;
  }
  100% {
    background-color: #9b37ff;
  }
}

@keyframes visited-color-animation-swarm {
  0% {
    background-color: #fd686f;
    transform: scale(0);
    border-radius: 60%;
  }
  25% {
    background-color: orange;
    transform: scale(0.6);
    border-radius: 30%;
  }
  50% {
    background-color: yellow;
    transform: scale(1.4);
    border-radius: 15%;
  }
  75% {
    background-color: #5ef19b;
    transform: scale(1.2);
    border-radius: 0%;
  }
  100% {
    background-color: #9b37ff;
    transform: scale(1);
    border-radius: 0%;
  }

  /* 0% {
    background-color: #fd686f;
    transform: scale(0);
    border-radius: 60%;
  }
  16% {
    background-color: #5ef19b;
    transform: scale(0.4);
    border-radius: 45%;
  }
  33% {
    background-color: rgb(255, 255, 131);
    transform: scale(0.8);
    border-radius: 30%;
  }
  50% {
    background-color: rgb(86, 86, 252);
    transform: scale(1.2);
    border-radius: 15%;
  }
  66% {
    background-color: rgb(44, 44, 254);
    transform: scale(1.6);
    border-radius: 0%;
  }
  83% {
    background-color: #f673ff;
    transform: scale(1.4);
    border-radius: 0%;
  }
  100% {
    background-color: #9b37ff;
    transform: scale(1);
    border-radius: 0%;
  } */
}

.visited-swarm {
  background-color: #9b37ff;
  animation-duration: var(--animationTime);
  animation-name: visited-color-animation-swarm;
}

.visited-fade {
  background-color: #9b37ff;
  animation-duration: var(--animationTime);
  animation-name: visited-color-animation-fade;
}

.shortest {
  animation-name: shortest-color-animation;
  background-color: rgb(44, 44, 254);
  animation-duration: var(--animationTime);
}

@keyframes shortest-color-animation {
  0% {
    transform: scale(0.7);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}
